/* credit card section horizontal scroll */
.scroll_container::-webkit-scrollbar {
  height: 7px;
}

.scroll_container::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 5px;
}

.scroll_container::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
  transition: all 50ms linear;
}

.scroll_container::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Transaction section scroll section */
.transactions_scroll_container::-webkit-scrollbar {
  width: 5px;
}

.transactions_scroll_container::-webkit-scrollbar-thumb {
  background-color: #22c55e;
  border-radius: 5px;
}

.transactions_scroll_container::-webkit-scrollbar-thumb:hover {
  background-color: #25b359;
  transition: all 50ms linear;
}

.transactions_scroll_container::-webkit-scrollbar-track {
  background-color: transparent;
}
